.circle,.ico-question,.voucher-list-element>a {
    -webkit-font-smoothing: subpixel-antialiased!important;
    -moz-osx-font-smoothing: grayscale!important}
#element-check-label,.footer-text-divider,.form-field-wrapper,.form-input,.howItWorks,.ico-question,.voucher-list-element>a {
    vertical-align: middle}
* {
    box-sizing: border-box;
    font-weight: 400}
body {
    font-family: Lato-Regular,sans-serif;
    position: relative;
    background-color: rgba(20,27,61,1);
}
.form-input--dropdown,.product-description-checkbox+label,.product__name {
    font-family: Lato-Bold,sans-serif}
.container {
    max-width: 960px;
    margin: auto;
    display: block;
    clear: both;
    overflow: hidden}
.fade-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.65);
    display: none;
    z-index: 10}
.main-content,.product-details-container {
    display: block}
.product-container {
    margin-top: 5px;
    display: block}
.product-details-container {
    color: #fff;
    position: relative}
.product-top-banner__container {
    padding: 0;
    color: #fff;
    animation: fadeIn ease .75s}
.product__name {
    font-size: 20px;
    padding: 10px 20px;
    animation: fadeIn ease .85s}
.product__description {
    padding: 0 20px;
    font-size: 14px;
    max-height: 88px;
    line-height: 22px;
    overflow: hidden;
    position: relative;
    transition: .5s ease-in;
    animation: fadeIn ease .9s}
.product__description a,.product__tag-line a {
    color: #2e33aa}
.product-description-checkbox {
    display: none}
.product-description-checkbox+label {
    position: absolute;
    bottom: -26px;
    left: 20px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px}
.form__field-zone-id.zone-id--with-parenthesis,.section {
    position: relative}
.product-description-checkbox+label span.more-info {
    display: inline}
.product-description-checkbox+label span.less-info,.product-description-checkbox: checked+label span.more-info {
    display: none}
.product-description-checkbox: checked+label span.less-info {
    display: inline}
.product-description-checkbox: checked+label+.product__description {
    max-height: 1750px;
    transition: 1.5s ease-out}
.product-description-checkbox: checked+label+.product__description:before {
    visibility: hidden;
    transition: visibility 0s .1s,opacity 1.5s linear}
.product__top-banner {
    display: block;
    max-width: 100%;
    width: auto;
    margin: auto}
.main-content {
    /* margin: 50px 10px 15px; */
    max-width: 640px;
    color: #fff;
    background: #19214b;}
.section {
    /* background-color: #fcfcfc; */
    /* border-radius: 6px; */
    padding: 15px;
    margin: 25px 0;
    animation: fadeIn ease 1s}
@keyframes fadeIn {
    0% {
    opacity: 0}
100% {
    opacity: 1}
}
.section ul {
    padding: 10px 0 0;
    margin: 0;
    list-style-type: none}
.form-group-container {
    padding: 5px 0 0 4px}
.form-input {
    line-height: 46px;
    border-radius: 4px;
    border: 1px solid #cdcbcd;
    text-align: center;
    padding: 0 5px}
.form-input:active,.form-input:active:focus,.form-input:focus {
    outline: 0}
.form__field-user-id div:first-child {
    padding-left: 32px}
.form-field-wrapper {
    display: inline-block;
    text-align: center;
    margin: 5px 3px 8px 0;
    width: 50%;
    max-width: 250px}
.form-field-wrapper.single-field-form {
    width: 75%;
    max-width: 250px}
.form-field-wrapper.equal-field-form {
    width: 42%;
    max-width: 250px}
.form__field-zone-id {
    max-width: 120px;
    width: 32%}
.zone-id--with-parenthesis .form-field-parenthesis:nth-child(1) {
    left: 10px}
.zone-id--with-parenthesis .form-field-parenthesis:nth-child(3) {
    right: 10px}
.form-input--dropdown {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    height: 48px;
    text-align-last: center;
    color: #ccc}
.form-input--dropdown option {
    color: #333}
.form-field-parenthesis {
    font-size: 16px;
    position: absolute;
    top: 13px}
.form__image-helper-container {
    display: inline-block;
    position: relative;
    right: -5px}
.form__field-zone-id.form__field-select-servers {
    display: inline-block;
    max-width: 100%;
    padding: 0 5px}
.form__field-operating-system,.form__field-operating-system+.form__field-zone-id.form__field-select-servers {
    width: auto;
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 5px}
.form__field-operating-system+.form__field-select-servers+.form__field-user-id {
    width: 80%;
    display: inline-block;
    padding: 5px;
    margin: 0;
    max-width: unset}
#img-helper-element,.img-helper__background,.img-helper__close-btn {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    display: none}
#img-helper-element {
    width: 100%;
    top: 30px;
    padding: 0 10px;
    text-align: center;
    z-index: 10}
.img-helper__close-btn {
    color: #fff;
    font-size: 16px;
    font-family: Lato-Bold;
    z-index: 10;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 20px;
    max-width: 180px;
    padding: 5px}
.img-helper {
    font-size: 12px;
    text-align: center;
    color: #fff}
.img-helper__background {
    background-color: #000;
    opacity: .8;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1}
#img-helper-element>img {
    max-width: 100%;
    z-index: 1000;
    position: relative;
    max-height: 640px}
.form__field-user-id>input,.form__field-zone-id>input {
    width: 100%;
    font-size: 14px;
    color: #333;
    font-family: Lato-Regular}
.form__field-user-id>input: -webkit-autofill,.form__field-user-id>input:: placeholder,.form__field-zone-id>input: -webkit-autofill,.form__field-zone-id>input:: placeholder {
    color: #ccc;
    font-family: Lato-Regular,sans-serif;
    font-size: 14px}
.form__field-instruction-text {
    font-size: 12px;
    font-family: Lato-Italic,sans-serif;
    line-height: 15px;
    margin: 5px 0 0;
    color: #fff}
.circle {
    font-family: Lato-Semibold,sans-serif;
    font-size: 20px;
    color: #fff;
    padding-left: 55px;
    margin-top: -12px;
    margin-bottom: 8px}
.circle>span {
    border-radius: 50%;
    border: 4px solid #fcfcfc;
    color: #fcfcfc;
    margin-right: 5px;
    background-color: rgba(20,27,61,1);
    font-family: Lato-Bold,sans-serif;
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 10px;
    line-height: 36px;
    width: 46px;
    height: 46px;
    text-align: center}
.ico-question {
    background-color: #f66b1c;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    cursor: pointer}
.ico-question.desktop-trigger {
    display: none}
.ui-selectmenu-button.ui-button {
    text-align: center;
    white-space: nowrap;
    width: 100%;
    background-color: #fff;
    line-height: 32px;
    position: relative;
    color: #0f446e}
.ui-button .ui-icon {
    position: absolute;
    right: 5%;
    top: 15px}
.voucher-denom-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap}
.voucher-list-element {
    width: 50%;
    padding: 4px;
    display: table;
    position: relative}
.voucher-list-element>a {
    display: table-cell;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: Lato-Regular,sans-serif;
    text-align: center;
    padding: 3px;
    height: 54px;
    word-break: break-word;
    position: relative;
    overflow: hidden;
    background: #19214b;}
.voucher-list-element>a:hover {
    color: #fff;
    }
#element-check-label,.voucher-list-element>a+.errMessage {
    position: absolute;
    text-align: center;
    font-family: Lato-Bold,sans-serif}
.voucher-list-element>a+.errMessage {
    top: 64px;
    font-size: 10px;
    left: 0;
    right: 0;
    margin: auto;
    color: red}
.voucher-list-element>a.disable-voucher {
    color: #ababab;
    cursor: not-allowed}
#element-check-label {
    background-color: #ff6c2c;
    color: #fff;
    width: 20px;
    height: 52px;
    line-height: 52px;
    top: -19px;
    left: -1px;
    transform: rotate(45deg) scaleX(-1);
    display: none;
    font-size: 14px}
.custom-denom {
    width: auto;
    min-width: 72px;
    display: inline-block;
    margin: auto;
    line-height: 32px;
    font-size: 18px;
    font-family: Lato-Bold,sans-serif;
    background-color: #fcfcfc;
    border: none;
    outline: 0;
    text-align: center;
    color: #666}
.price,.price_label {
    text-align: center}
.active #element-check-label {
    display: block}
.ul-paymentChannels {
    padding-top: 0;
    list-style: none}
.disabled-element {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)}
    .payment-channel-element {
    display: inline-block;
    margin: 5px 3px 12px 3px;
    cursor: pointer;
    background: #19214b;
    color: #fff;
    width: 24%;
    }
.payment-channel-element img.check {
    display: none}
.payment-channel-link {
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    min-height: 72px;
    justify-content: space-between}
.payment-channel-container {
    display: flex;
    /* width: 64%; */
    justify-content: space-between;
    align-items: center}
.payment-logo-container {
    margin: 0 auto;
    padding: 15px 7px}
.logo,.price {
    padding-left: 10px}
.logo {
    max-width: 100%;
    display: block;
    max-height: 32px}
.price {
    padding-top: 3px;
    color: #666;
    font-size: 12px}
.howItWorks {
    display: inline-block;
    font-size: 9px;
    font-family: Lato-Bold,sans-serif;
    border: 1px solid #F66A1A;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
    width: 24%;
    max-width: 68px;
    color: #f66a1c;
    cursor: pointer}
.best-deal-label {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    top: 0}
.best-deal-label::before {
    content: 'Best Deal';
    position: absolute;
    right: -28px;
    top: -15px;
    color: transparent;
    transform: rotate(45deg);
    font-size: 10px;
    border-bottom: 13px solid #abd100;
    border-top: 13px solid transparent;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent}
.best-deal-label::after {
    content: 'Best Deal';
    transform: rotate(45deg);
    text-align: center;
    color: #fff;
    position: absolute;
    top: 9px;
    right: 0;
    font-size: 7px}
.payment-price-container {
    font-size: 10px;
    font-family: Lato-Bold,sans-serif;
    color: #999;
    width: 100%;
    padding-left: 8px;
    padding-right: 4px}
.denom-disabled {
    max-width: 110px;
    padding-left: 2px;
    padding-top: 3px}
.payment-tagline-container {
    background-color: #eee;
    color: #333;
    font-size: 11px;
    font-family: Lato-Bold,sans-serif;
    padding: 5px 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: none}
.payment-channel-element.active .payment-tagline-container {
    display: block;
    width: 100%}
.payment-tagline {
    margin: 0;
    text-align: center;}
.emailOptional {
    font-size: 13px;
    color: #fff;
    padding: 10px 5px;
    margin: 0;
    display: block}
#name-div {
    height: 36px;
    width: 100%}
.email-form-btn-group,.form-btn-container {
    padding: 15px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between}
.product-form-input {
    font-size: 20px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 12px;
    font-family: Lato-Regular,sans-serif}
.email-form-btn__submit,.footer__help-title,.modal-button,.product-tagline-title {
    font-family: Lato-Bold,sans-serif}
.product-form-input:focus {
    outline: 0}
.product-form-input:: placeholder {
    color: #ccc}
.fullname-container {
    margin: 15px 0}
.email-form-btn__submit {
    background-color: #395071;
    font-size: 20px;
    min-width: 203px;
    max-width: 395px;
    min-height: 48px;
    max-height: 52px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 4px}
.btn-submit-text.for-grab,.remember-me-chkbox {
    display: none}
.email-form-btn__submit:hover {
    background-color: #295088}
.btn-submit-text {
    margin: auto}
.boletoFullName-focused {
    margin: 15px 0}
.remember-me-container {
    margin-top: 12px;
    width: 100%}
.remember-me-label {
    display: inline-flex;
    cursor: pointer;
    position: relative}
.remember-me-text {
    font-size: 14px;
    padding: 0 5px;
    color: #333}
.remember-me-checkmark {
    width: 18px;
    height: 18px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative}
.remember-me-chkbox: checked+.remember-me-checkmark {
    background-color: #385071;
    border-color: #385071}
.remember-me-chkbox: checked+.remember-me-checkmark::after {
    content: '';
    color: #fff;
    position: absolute;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: -3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 11px;
    height: 4px;
    transform: rotate(-45deg)}
.loader {
    display: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    background: -moz-linear-gradient(left,#fff 10%,rgba(255,255,255,0) 42%);
    background: -webkit-linear-gradient(left,#fff 10%,rgba(255,255,255,0) 42%);
    background: -o-linear-gradient(left,#fff 10%,rgba(255,255,255,0) 42%);
    background: -ms-linear-gradient(left,#fff 10%,rgba(255,255,255,0) 42%);
    background: linear-gradient(to right,#fff 10%,rgba(255,255,255,0) 42%);
    position: relative;
    -webkit-animation: load3 1s infinite linear;
    animation: load3 1s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)}
.loader:after,.loader:before {
    position: absolute;
    top: 0;
    left: 0;
    content: ''}
.loader:before {
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 100% 0 0}
.loader:after {
    background-color: #394f71;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin: auto;
    bottom: 0;
    right: 0}
.email-form-btn__submit:hover .loader:after {
    background-color: #295088}
@-webkit-keyframes load3 {
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)}
}
@keyframes load3 {
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)}
}
.popError>.section {
    max-width: 540px;
    width: 95%;
    margin: auto;
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    padding: 0;
    z-index: 20;
    overflow: hidden;
    box-shadow: none}
.overlay-element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #000;
    opacity: .65;
    z-index: 10;
    display: none}
.errorHeader {
    margin: 0;
    padding: 10px 15px;
    background-color: rgba(20,27,61,1);
    color: #fff;
    font-size: 18px}
ul.errorMessage__container {
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    color: #484848;
    list-style-type: disc}
ul.errorMessage__container li {
    padding: 3px 0}
.modal-button {
    float: right;
    padding: 10px 20px;
    font-size: 13px;
    background-color: #0e446e;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px 15px;
    text-align: center}
.modal-button:hover {
    background-color: #13588e}
.section.product__long-description {
    color: #fff;
    background-color: rgba(20,27,61,1);
    font-size: 11px;
    padding: 0 15px 15px;
    box-shadow: none;
    line-height: 20px;
    display: block}
.product-tagline-title {
    font-size: 20px;
    margin: 0 0 15px;
    text-align: center}
.product__tag-line {
    font-size: 14px;
    text-align: center}
.product__tag-line i>a {
    color: #fff}
.section.product__long-description ul {
    list-style-type: none!important}
.footer-element-wrapper {
    margin: auto;
    display: block;
    position: relative;
    max-width: 1280px;
    padding: 12px 12px 0}
.footer__help-and-country-container {
    text-align: center;
    display: table;
    margin: auto;
    border-spacing: 10px 0;
    width: 100%;
    max-width: 360px;
    padding: 0 8px}
.footer__country,.footer__help {
    background-color: #fff;
    text-align: center;
    width: 50%;
    padding: 15px 15px 10px;
    border-radius: 8px;
    display: table-cell;
    vertical-align: middle}
.footer__country-flag {
    background-color: #f3f3f3}
.footer__help-and-country-container a,.footer__social-media-container a {
    text-decoration: none}
.footer__help-title {
    font-size: 11px}
.footer__help-link {
    padding-top: 3px}
.footer__help-link>a {
    text-decoration: none;
    color: #385072;
    font-family: Lato-Semibold,sans-serif;
    font-size: 14px}
.footer-text-divider,.footer__copyrights,.footer__country-name,.footer__terms-and-policy a {
    font-family: Lato-Bold,sans-serif}
.footer__country>a {
    text-decoration: none;
    font-size: 12px;
    color: #333;
    display: block}
.footer__elements-group__wrapper {
    display: block}
.footer__social-media-container a {
    display: inline-block;
    width: 32px;
    height: auto;
    text-decoration: none;
    white-space: nowrap;
    padding: 2px}
.footer__social-media-box {
    max-width: 100%}
.footer__logo-title {
    font-size: 14px;
    color: #888;
    padding: 6px 4px}
.footer__logo-image {
    max-width: 92px;
    padding-top: 7px}
.footer__terms-and-policy {
    padding-bottom: 4px;
    padding-top: 20px}
.footer__copyrights,.footer__terms-and-policy a {
    color: #333;
    font-size: 10px;
    text-decoration: none}
.footer__copyrights,.footer__logo-container,.footer__social-media-container,.footer__terms-and-policy {
    text-align: center}
.footer__customer-service,.social-text {
    display: none;
    text-align: center}
.footer-text-divider {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    color: #333}
.footer-menu-group a {
    text-decoration: none;
    color: #888;
    line-height: initial!important}
.footer-menu-group>div {
    padding: 2px 0}
.footer-menu-group h3,.footer-menu-group h4 {
    margin: 0}
.confirm-modal__container,.popError {
    display: block}
.confirm-user-dialog__extra-msg {
    font-family: Lato-Medium,sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #333}
#confirm-user-dialog ul {
    list-style: none;
    padding-left: 0;
    margin: 0}
#confirm-user-dialog ul li:first-child,.confirm-modal__title {
    padding: 10px 15px;
    font-size: 16px!important;
    font-family: Lato-Bold,sans-serif;
    background-color: #ff6c2c;
    color: #fff}
#confirm-user-dialog ul li: last-child {
    padding-bottom: 15px}
#confirm-user-dialog.ui-dialog-content {
    padding: 0}
#confirm-user-dialog ul li {
    padding: 2px 15px;
    font-size: 14px;
    color: #333}
#confirm-user-dialog ul li div {
    padding: 0 1px;
    display: inline-block}
#confirm-user-dialog ul>li.confirm-modal__confirm-txt {
    font-style: italic;
    font-size: 12px;
    padding: 10px 15px}
#confirm-user-dialog ul select {
    background-color: #fff;
    border: 1px solid #989898;
    height: 30px;
    width: 154px;
    outline: 0;
    font-size: 14px;
    margin-top: 10px}
#product-page__container+.confirm-user-dialog__container,.confirm-user-dialog__container {
    border-radius: 6px;
    border: none!important;
    box-shadow: 0 0 7px 1px #888;
    padding: 0!important;
    overflow: hidden;
    margin: auto;
    position: fixed;
    top: 10%;
    left: 10px;
    right: 10px;
    max-width: 360px;
    background-color: #fff;
    z-index: 1000}
.confirm-user-dialog__container:focus {
    outline: 0}
.ui-widget-overlay {
    background: #000;
    opacity: .65}
#confirm-user-dialog+.ui-dialog-buttonpane {
    padding: 10px 12px;
    margin-top: 8px;
    border-top: 1px solid #ddd}
#confirm-user-dialog+.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.ui-widget {
    text-align: center;
    font-size: 12px;
    padding: 10px 12px;
    height: auto!important}
#confirm-user-dialog+.ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    width: 100%;
    text-align: right}
#confirm-user-dialog+.ui-dialog-buttonpane .ui-button:active,#confirm-user-dialog+.ui-dialog-buttonpane .ui-button:focus {
    border: none;
    outline: 0}
.confirm-user-dialog__btn,.confirm-user-dialog__btn:hover {
    border: none;
    border-radius: 4px;
    letter-spacing: .25px}
.ui-button.btn-blue {
    background-color: #0c5b9a;
    color: #fff}
.ui-button.btn-blue:hover {
    background-color: #04477A}
.ui-button.btn-cancel {
    background-color: transparent;
    text-decoration: underline;
    color: #bd6300}
.ui-button.btn-cancel:hover {
    border: none;
    color: #de7400}
.confirm-dialog {
    display: none}
#airtime_form {
    box-sizing: content-box;
    border: 10px solid #fff!important;
    box-shadow: 0 0 10px 5px #afafaf!important}
#airtime_form>div {
    position: relative;
    z-index: 110}
#airtime_form::after {
    content: '';
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: .55;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 90}
#airtime_form_responsive {
    margin: 0!important}
@media screen and (min-width: 427px) {
    .email-form-btn__submit,.remember-me-container {
    width: auto}
.email-form-btn-group,.form-btn-container {
    flex-direction: row-reverse}
.remember-me-text {
    max-width: 132px}
}
@media screen and (min-width: 460px) {
    .logo {
    max-height: 42px}
.howItWorks {
    font-size: 11px;
    margin-left: 15px}
.payment-price-container {
    text-align: center;
    width: 100%}
.denom-disabled {
    max-width: unset;
    text-align: left;
    padding-top: 0}
.price {
    font-size: 14px}
.form-field-parenthesis {
    font-size: 18px}
.form__field-operating-system,.form__field-operating-system+.form__field-zone-id.form__field-select-servers {
    display: inline-block;
    width: 42%}
.form__field-operating-system+.form__field-select-servers+.form__field-user-id {
    width: 75%;
    max-width: 320px}
.payment-tagline-container {
    font-size: 13px}
}
@media screen and (min-width: 640px) {
    .main-content {
    margin: 50px auto 15px;
    padding: 0 10px;
    max-width: 660px}
.product-details-container {
    max-width: 680px;
    margin: auto}
.voucher-list-element {
    width: 33.33333%}
.voucher-list-element>a+.errMessage {
    width: calc(100% + 30px)}
.payment-price-container {
    font-size: 12px;
    letter-spacing: .13px}
.form-input--dropdown {
    max-width: unset}
.emailOptional {
    margin-bottom: 10px}
#product-page__container+.confirm-user-dialog__container,.confirm-user-dialog__container {
    max-width: 400px}
#confirm-user-dialog ul select {
    margin-top: 5px;
    margin-left: 8px}
}
@media screen and (min-width: 767px) {
    .topnav__right-container {
    display: block;
    float: right;
    padding: 2px;
    cursor: pointer}
.footer__country,.footer__help,.product-description-checkbox+label,.product__description:before {
    display: none}
.main-content,.product-details-container {
    /* float: left; */
    max-width: initial;
    margin: auto}
.product-details-container {
    width: 45%;
    padding: 25px 10px}
.main-content {
    width: 55%}
.ico-question {
    width: 26px;
    height: 26px;
    line-height: 26px}
.product__name {
    padding: 10px 0}
.product__description {
    padding: 0;
    max-height: initial}
.voucher-list-element {
    width: 50%}
.voucher-list-element>a+.errMessage {
    left: -12px}
.payment-logo-container {
    padding: 15px 6px}
.section.product__long-description {
    /* background-color: #fff; */
    font-size: 16px;
    color: #fff;
    width: 100%;
    border-radius: 0;
    padding: 30px 15px;
    margin: 0}
.footer__terms-and-policy a,.social-text {
    font-size: 14px}
.product__tag-line {
    width: 85%;
    max-width: 1000px;
    margin: auto;
    line-height: 18px}
.product__tag-line i>a {
    color: #333}
.footer__logo-container,.footer__social-media-container {
    background-color: #fff;
    border-radius: 6px;
    padding-top: 0}
.social-text {
    display: block;
    padding: 6px 4px;
    margin: 0;
    color: #888}
.footer-text-divider,.footer__help-and-country-container {
    display: none}
.footer-container {
    /* min-height: 180px; */
    padding-bottom: 20px}
.footer-element-wrapper {
    white-space: nowrap;
    padding: 10px 10px 0}
.footer__elements-group--left {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    vertical-align: top;
    padding: 0 6px;
    width: 74%}
.footer__elements-group--right {
    display: inline-block;
    text-align: right;
    padding: 0 6px;
    width: 26%}
.footer__elements-group__wrapper {
    display: table;
    border-spacing: 15px 0;
    padding-bottom: 15px}
.footer__social-media-container {
    display: table-cell;
    text-align: center;
    padding: 6px;
    margin: 0 15px 15px}
.footer__logo-container {
    text-align: center;
    padding: 8px;
    display: table-cell}
.footer__customer-service {
    padding-left: 15px;
    display: inline-block}
.footer-menu-group {
    font-size: 14px;
    text-align: left}
.footer__terms-and-policy {
    padding: 0;
    text-align: right;
    color: #333;
    font-family: Lato-Bold,sans-serif}
.footer__policy-link {
    display: block;
    padding-top: 10px}
.footer__copyrights {
    font-size: 12px;
    color: #333;
    padding-top: 15px;
    text-align: right;
    white-space: normal}
.footer__logo-image {
    max-width: 95%;
    padding-top: 7px}
.footer-menu-group a {
    font-size: 14px}
.voucher-list-element>a {
    font-size: 16px}
.denom-disabled {
    font-size: 10px}
.img-helper__background,.img-helper__close-btn {
    display: none}
#name-div {
    height: 58px}
.modal-button {
    font-size: 16px}
#confirm-user-dialog ul li:first-child,.confirm-modal__title {
    font-size: 18px!important}
#confirm-user-dialog ul li {
    font-size: 16px}
#product-page__container+.confirm-user-dialog__container,.confirm-user-dialog__container {
    max-width: 480px}
}
@media screen and (min-width: 992px) {
    .product-details-container {
    width: 36%}
.main-content {
    width: 100%
}
.voucher-list-element {
    width: 33.33333%}
.voucher-list-element>a {
    height: 58px;
    font-size: 18px}
.denom-disabled {
    font-size: 12px;
    letter-spacing: .35px}
#img-helper-element {
    position: absolute;
    top: 0;
    padding: 0;
    display: none;
    z-index: 100;
    width: auto}
.ico-question.mobile-trigger {
    display: none}
.ico-question.desktop-trigger {
    display: inline-block}
.img-helper {
    position: relative}
.form__field-zone-id {
    max-width: 145px}
.price_label {
    font-size: 14px}
.price {
    font-size: 16px}
.form__field-operating-system+.form__field-select-servers+.form__field-user-id {
    width: 50%;
    max-width: 380px}
#confirm-user-dialog ul li:first-child,.confirm-modal__title {
    font-size: 21px!important}
#confirm-user-dialog ul>li.confirm-modal__confirm-txt {
    font-size: 14px}
#confirm-user-dialog+.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button.ui-widget {
    font-size: 14px;
    padding: 10px 15px}
#product-page__container+.confirm-user-dialog__container,.confirm-user-dialog__container {
    top: 12%;
    max-width: 520px}
#confirm-user-dialog ul select {
    width: 185px}
}
@media screen and (max-height: 980px) {
    .languages-list {
    max-height: 94.25vh;
    overflow-y: scroll}
}
@media screen and (orientation: landscape) {
    .product-description-checkbox: checked+label+.product__description {
    transition: none}
}

@media screen and (max-width: 600px) {
    .payment-channel-element {
        display: inline-block;
        margin: 2px 2px 15px 2px;
        cursor: pointer;
        background: #19214b;
        color: #fff;
        width: 31%;
    }
}